
/*basic styling */
body {
  h1,h2,h3,h4,h5,h6,p,ul,li {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
  }
  background-color: #2a2e43 !important;
}

/*homepage font styling */
.home {
    h1 {
      font-family: 'Montserrat Subrayada', sans-serif;
    	font-size: 20vw;
    	font-weight: 800;
    	text-align: center;
    	color: #FFFFFF;
    }
}

.blog{
  h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }

  a {
    color: #FFFFFF;
  }

.default {
  h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 20vw;
    font-weight: 800;
    text-align: center;
    color: #FFFFFF;
  }

  }
}

.post {
  h1,p {
    font-family: 'Montserrat', sans-serif;
    color: #2a2e43;
  }
  h1{
    font-weight: bold;
  }
}

.customForm {
  margin: auto;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  text-align: center;
  a,a:visited{
    color: #ffffff;
  }
  a:link,a:hover,a:visited,a:active{
    text-decoration: none
  }
  a:hover{
    color: #353a50;
  }
}

.footer_home {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  .social_icons{
    text-align: right;
  }
  .nav{
    text-align: left;
  }
  a:link,a:visited{
    color: #ffffff;
  }
  a:link,a:hover,a:visited,a:active{
    text-decoration: none
  }
  a:hover{
    color: #353a50;
  }
}

.navbar a{
   color: white;
   opacity: 1;
}
.myNavbar {
  a:link{
    color: #2a2e43;
  }
}


/*Navbar Styling*/
.navbar-brand{
   font-weight: bold;
   p{
   font-size:24px;
   font-family: 'Montserrat Subrayada', sans-serif;
   white-space: nowrap;
   }
}

// Shrinks logo in navbar for narrow viewports
@media (max-width: 360px) {
  .navbar-brand{
    p{
      font-size: 18px;
    }
  }
}

/* Styling for navbar active menu item */
.navbar{
  .navbar-nav{
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: darken(darken(#428bca, 6.5%), 15%);
        background-color: #f8f8f8;
      }
    }
  }
}
